[submodule "hydra"]
	path = hydra
	url = https://github.com/ory/hydra.git
[submodule "docker-mailserver"]
	path = docker-mailserver
	url = https://github.com/docker-mailserver/docker-mailserver.git
[submodule "traefik"]
	path = traefik
	url = https://github.com/traefik/traefik.git
[submodule "grafana"]
	path = grafana
	url = https://github.com/grafana/grafana.git
[submodule "prometheus"]
	path = prometheus
	url = https://github.com/prometheus/prometheus.git
[submodule "rclone"]
	path = rclone
	url = https://github.com/rclone/rclone.git
[submodule "docker-pi-hole"]
	path = docker-pi-hole
	url = https://github.com/pi-hole/docker-pi-hole.git
